* {
    padding: 0%;
    margin: 0%;
    box-sizing: content-box;
    text-decoration: none;
}

body {
    font-family: "Comic Sans MS", sans-serif;
}

.content {
    height: 500px;
    width: 1000px;
    margin: 0 auto;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.5);
}
nav {
    position: relative;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 40px 40px;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.5);
}

nav .logo {
    font-size: 40px;
    margin-right: 50px;
}

nav ul {
    position: relative;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #000000;
}

nav ul .nav-animation {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: calc((100%/ 6) * 1);
    border-radius: 2px;
    transition: .4s;
}

nav ul li:nth-child(1):hover~.nav-animation {
    background-color: rgb(250, 190, 250);
    left: calc((100%/ 6 * 0));
}

nav ul li:nth-child(2):hover~.nav-animation {
    background-color: red;
    left: calc((100%/ 6 * 1));
}

nav ul li:nth-child(3):hover~.nav-animation {
    background-color: #d18df8;
    left: calc((100%/ 6 * 2));
}

nav ul li:nth-child(4):hover~.nav-animation {
    background-color: #ffb1b1;
    left: calc((100%/ 6 * 3));
}

nav ul li:nth-child(5):hover~.nav-animation {
    background-color: #8da1f8;
    left: calc((100%/ 6 * 4));
}

nav ul li:nth-child(6):hover~.nav-animation {
    background-color: #7df88e;
    left: calc((100%/ 6 * 5));
}

.basic {
    display: flex;
    padding: 50px 50px;
}

.basic .avatar img{
    width: 200px;
    height: 200px;
}

.info {
    margin-left: 50px;
}